---
import BadgeTag from '@/components/badge-tag.astro'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<Layout>
  <section>
    <div class="lg:w-[60%] flex flex-col gap-y-6 grow">
      <h1 class="font-headings">Proyectos</h1>
      <p class="text-base sm:text-lg">
        Como todo en la vida, los trabajos que he desarrollado a lo largo de mi
        camino en el mundo de la programación web han ido evolucionando y
        mejorando con el tiempo. A día de hoy sigo con el mismo interés que
        cuando empecé, me esfuerzo por mantenerme al día con las últimas
        tecnologías, y fruto de ello paso a mostrarte algunos de los proyectos
        de los que más orgulloso me siento. Son el reflejo del sacrificio, el
        aprendizaje y la dedicación de todos estos años.
      </p>
      <article class="flex flex-col gap-y-4">
        {
          projects.map((project, index) => (
            <div class="project group space-y-4 sm:space-y-0">
              <div class=" image-project hidden lg:block absolute opacity-0 top-1/2 -translate-y-1/2 right-8 w-[350px] aspect-video rounded-md transition-opacity duration-500">
                <img
                  class=""
                  src={project.data.featuredImage}
                  alt={project.data.title}
                />
              </div>
              <div class="flex flex-col gap-y-1 sm:flex-row sm:justify-between">
                <div class="overflow-hidden leading-none py-1">
                  <h3
                    style={{
                      animationDelay: `${index * 100}ms`,
                      animationDuration: '2s',
                    }}
                    class=" animate-slide-full-in-bottom animate-bezier-quart-in-out "
                  >
                    {project.data.title}
                  </h3>
                </div>
                <div class="flex flex-wrap items-center gap-2 ">
                  {project.data.tags.map((tag, i) => (
                    <div
                      style={{ transitionDelay: `${i * 50}ms` }}
                      class="lg:opacity-0 group-hover:opacity-100 transition-opacity duration-500"
                    >
                      <BadgeTag text={tag} />
                    </div>
                  ))}
                </div>
              </div>
              <div class="overflow-hidden leading-none">
                <p
                  style={{
                    animationDelay: `${index * 100 + 250}ms`,
                    animationDuration: '2s',
                  }}
                  class="text-base animate-slide-full-in-bottom animate-bezier-quart-in-out "
                >
                  {project.data.description}
                </p>
              </div>
            </div>
          ))
        }
      </article>
    </div>
  </section>
</Layout>

<script>
  document.addEventListener('astro:page-load', () => {
    const projects = document.querySelectorAll(
      '.project',
    ) as NodeListOf<HTMLDivElement>

    projects.forEach((project) => {
      project.addEventListener('mouseover', () => {
        const imageProject = project.querySelector(
          '.image-project',
        ) as HTMLImageElement
        console.log({ imageProject })
        imageProject.classList.add('opacity-100')
      })
      project.addEventListener('mouseout', () => {
        const imageProject = project.querySelector(
          '.image-project',
        ) as HTMLImageElement

        imageProject.classList.remove('opacity-100')
      })
    })
  })
</script>
